<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监听消息3</title>
</head>
<body>
我是iframe，在监听消息3
<div id="dRet"></div>

<script src="Public/static/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        window.onMsg = function (aMsg) {

            var jsObj = JSON.parse(aMsg);
            if(jsObj.msgID == 3){
                $('#dRet').html( aMsg + '<br>' + $('#dRet').html() );
                console.log('我是消息3: '+jsObj.msg);
            }
        }
    })
</script>

</body>
</html>