<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>input测试</title>

</head>
<body>

<div>
    <form method="get" id="fform" enctype="multipart/form-data">
        <p><input id="ffile" type="file" name="ffile"  multiple /></p>
        <input type="submit" value="Submit" />
    </form>
    <button id="btTest">提交</button>
</div>

<div id="timer">

</div>


<script src="Public/static/jquery-1.12.4.min.js"></script>
<script>
    var FFileName = '';
    window.onFile = function (fileName) {
        FFileName  = fileName;
        console.log(fileName);
    }

    $(function () {
        $('#ffile').change(function (ret) {
            alert(FFileName);
        })
    })
</script>
</body>
</html>
