<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>监听消息1</title>
</head>
<body>

<a href="javascript:;" class="layui-btn" onclick="app.closeWin()">关闭窗口</a>
    <hr>

监听消息1
<div id="dRet"></div>

<iframe src='<?php echo U("index/iframe",array(),true,true);?>' frameborder="1" name="iframeTest" height="300" width="300"></iframe>

<script src="Public/static/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        window.onMsg = function (aMsg) {

            var jsObj = JSON.parse(aMsg);
            if(jsObj.msgID == 1){
                $('#dRet').html( aMsg + '<br>' + $('#dRet').html() );
                console.log('我是消息1: '+jsObj.msg);
            }
        }
    })
</script>

</body>
</html>