<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Workerman示例</title>
</head>
<body>

<button type="button" id="btHttp">http通讯</button>
<button type="button" id="btWebsocket">WebSocket通讯</button>


<script src="Public/static/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        // http测试

        $('#btHttp').click(function () {
            $.get('http://127.0.0.1:2345').then(function (ret) {
                console.log(ret);
                alert(ret)
            })
        });

        // websocket测试
        ws = new WebSocket("ws://127.0.0.1:2346");
        ws.onopen = function () {
            console.log("连接成功");
        };
        ws.onmessage = function (e) {
            console.log("收到服务端的消息：" + e.data);
            alert("收到服务端的消息：" + e.data);
        };

        $('#btWebsocket').click(function () {
            ws.send('发送一个测试消息');
        })
    })
</script>

</body>
</html>
